<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="CustomerConfig" type="KJFramework.Configurations.CustomerConfig, KJFramework" />
	</configSections>
	<appSettings>
		<add key="Name" value="Gridsum Security Quota Service" />
		<add key="ServiceName" value="Gridsum.MediaDissector.Infrastructures.SQS" />
		<add key="Description" value="A service for calculating quota limitation for each of businesses." />
		<add key="Version" value="1.0.0.0" />
		<add key="CSN" value="10.200.200.157:11010" />
		<add key="Tracing-Level" value="0" />
		<add key="Tracing-Provider" value="file" />
		<add key="Tracing-Datasource" value="TracingLogs" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<CustomerConfig>
		<Service>
			<Infomation Name="CSN-NEW" ServiceName="CSN-NEW" Description="用于分发配置数据以及扮演数据提供者角色" Version="1.0.0.0" />
		</Service>
		<Tracing>
			<TracingItem Level="0" Provider="file" Datasource="D:\Logs\CSN-Business\">
			</TracingItem>
		</Tracing>
		<System>
			<!--系统编码器-->
			<Encoder Id="Default" Num="65001" />
		</System>
		<KJFramework>
			<!--KJFramework.ServiceModel配置节， 提供了相关的基础配置-->
			<KJFramework.ServiceModel MaxDataChunkLength="10240" RecvBufferSize="409600" RequestCenterWaitObjectPoolCount="10" RequestMessageTaskBoxObjectPoolCount="10" RequestServiceMessagePoolCount="10" ResponseServiceMessagePoolCount="10" ServiceCallContextPoolCount="10" ServiceReturnValuePoolCount="10" ServiceProviderObjectPoolCount="10" BoxThreadCount="1" AllowClientCache="false" />
			<!--KJFramework 网络层配置文件，提供了相关的基础配置，请不要擅自修改。-->
			<KJFramework.Net BufferSize="10240" BufferPoolSize="4096" MessageHeaderLength="80" MessageHeaderFlag="#KJMS" MessageHeaderFlagLength="5" MessageHeaderEndFlag="€" MessageHeaderEndFlagLength="1" MessageDealerFolder="D:\Dealers\" MessageHookFolder="D:\Hooks\" SpyFolder="D:\Spys\" BasicSessionStringTemplate="BASE-KEY:{USERID:{0}}-TIME:{1}" UserHreatCheckTimeSpan="10000" UserHreatTimeout="15000" UserHreatAlertCount="3" FSHreatCheckTimeSpan="10000" FSHreatTimeout="15000" FSHreatAlertCount="3" SessionExpireCheckTimeSpan="5000" DefaultConnectionPoolConnectCount="1024" PredominantCpuUsage="10" PredominantMemoryUsage="150" DefaultChannelGroupLayer="3" DefaultDecleardSize="20" />
			<KJFramework.Net.Channels RecvBufferSize="20480" BuffStubPoolSize="100000" NoBuffStubPoolSize="100000" MaxMessageDataLength="1945600000" SegmentSize="5120" SegmentBuffer="1024" NamedPipeBuffStubPoolSize="100" />
			<!--
      KJFramework.Data.Synchronization 配置节， 提供了相关的基础配置
          #TranTimeout: 事务超时时间
          #TranChkInterval: 事务检查时间间隔
      -->
			<KJFramework.Data.Synchronization TranTimeout="00:00:30" TranChkInterval="25000" />
			<!--KJFramework新部署平台CSN的配置节，提供了相关的基础配置，请不要擅自修改。-->
			<KJFramework.Platform.Deploy.CSN HostPort="11010" PublisherPort="50000" CommandPort="50001" CenterAddress="127.0.0.1" CenterPort="11005" RegistTimeout="5000" HeartBeatInterval="5000" ReconnectTimeout="10000" MaxPackageLength="4096" MaxDataChunkSize="4096" CacheTimeoutCheckInterval="60000" CacheLiveTime="00:05:00" />
		</KJFramework>
	</CustomerConfig>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>